/* Preview Followers */
.preview-followers-container {
    background-color: lightgray;
    width: calc(1200px * .4);
    height: calc(675px * .4);
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.preview-followers-container-inner {
    width: 100%;
    height: 100%;
}

#preview__followers-1.preview-followers-container-inner {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#preview__followers-1 .follower-preview__icon {
    font-size: calc(13rem * .4);
}

#preview__followers-1 .follower-preview__text {
    margin: 1.6rem 0 2.8rem 0;
}

#preview__followers-1 .follower-preview__text--number {
    font-size: calc(13rem * .4);
    font-weight: 500;
}

#preview__followers-1 .follower-preview__text--text {
    font-size: calc(6.5rem * .4);
    font-weight: 500;
}

#preview__followers-1 .follower-preview__message {
    font-size: calc(5rem* .4);
    font-weight: 100;
}








@media only screen and (max-width: 1000px) {
    .preview-followers-container {
        width: calc(1200px * .3);
        height: calc(675px * .3);
    }

    .follower-preview {
        transform: scale(75%);
    }


    #preview__followers-1 .follower-preview__icon {
        font-size: calc(13rem * .3);
    }

    #preview__followers-1 .follower-preview__text--number {
        font-size: calc(13rem * .3);
    }

    #preview__followers-1 .follower-preview__text--text {
        font-size: calc(6.5rem * .3);
    }

    #preview__followers-1 .follower-preview__message {
        font-size: calc(5rem* .3);
    }
}

@media only screen and (max-width: 800px) {
    .follower-page--grid {
        height: auto;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(2, auto);
    }

    .grid-component__left {
        grid-row-start: 2;
    }
}

@media only screen and (max-width: 500px) {
    .preview-followers-container {
        width: calc(1200px * .25);
        height: calc(675px * .25);
    }


    #preview__followers-1 .follower-preview__icon {
        font-size: calc(13rem * .25);
    }

    #preview__followers-1 .follower-preview__text--number {
        font-size: calc(13rem * .25);
    }

    #preview__followers-1 .follower-preview__text--text {
        font-size: calc(6.5rem * .25);
    }

    #preview__followers-1 .follower-preview__message {
        font-size: calc(5rem* .25);
    }
}

@media only screen and (max-width: 400px) {
    .follower-preview {
        transform: scale(65%);
    }
}


.element-hidden {
    display: none;
}